/*Bas styling*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
:root{
    --primary-color: #292929;
    --secondary-color: #303233;
    --texty-color: #fff;
    --lines-color: #000;
    --hover-color: #1489FF;
    --button-color: #40A011;
    --button-hover-color: #4fbb19;
    --search-bar-color: #191A1B;

    --button-font-size: 12px;
    --p-font-size: 12px;
    --font-family:
}
html, body {
    height: 100%; 
    margin: 0; 
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin:0;
    font-family: OpenSans;
    background-color: var(--primary-color);
}

/*Header styling*/
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--primary-color); 
}

/* Logo */
.header-logo {
    display: flex;
    align-items: center; 

}
.header-logo-img {
    width: 4rem;
    margin-left: 0; 
}
header > .name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(111, 111, 111);
    font-size: 1.5rem;
}
.header-logo>h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 2.5rem;
}
.search-img{
    width: 2rem;
}
.login-img{
    width: 2rem;
}
.cart-img{
    width: 2rem;
}

    /*Search input*/
.search{
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 50rem;
    height: 2.6rem;
    background-color: #191a1c;
    margin: 0 2rem;
}
.search>input{
    width: 100%;
    background-color: #191a1c;
    border: none;
    margin-left: 1rem;
    color: white;
    font-size: 1rem;
}
.search>input:focus{
    outline: none;
}
.search>input::placeholder{
    color: white;
}

    /*login/cart*/
.login-cart{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.login, .cart {

    display: flex;
    align-items: center;
    color: white;
    font-size: 1.2rem;
}
.login > a, .cart > a {
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
}
.cart {
    background-color: green; 
    padding: 0.5rem 1rem; 
    border-radius: 0.3rem; /
}
/*Navigation bar styling*/
nav{
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #4b4b4b;
    font-size: 1.5rem;
    border:1px;
    border-style: outset;
    border-color: #4b4b4b;
}
/*Main styling*/
main{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .login-screen{
    background-color: #4b4b4b;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 5%;
    border-radius: 5%;
  }
  .login-screen>img{
    width: 4rem;
  }
  .login-header{
    color: white;
    margin-bottom: 2rem;
  }
  .register{
    margin-top: 20%;
  }
  .login-input{
    margin-bottom: 1rem;
    height: 1.5rem;
  }
  



